USE [BookStoreDB]
GO
/****** Object:  Table [dbo].[ChuDe]    Script Date: 2/27/2026 12:49:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDe](
	[MaCD] [int] IDENTITY(1,1) NOT NULL,
	[Tenchude] [nvarchar](100) NULL,
	[MaLoai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 2/27/2026 12:49:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[MaBL] [int] IDENTITY(1,1) NOT NULL,
	[MaSach] [int] NOT NULL,
	[MaKH] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayBL] [datetime] NULL,
	[DanhGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDatHang]    Script Date: 2/27/2026 12:49:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDatHang](
	[MaSach] [int] NOT NULL,
	[SoDH] [int] NOT NULL,
	[Soluong] [int] NULL,
	[Dongia] [decimal](10, 2) NULL,
	[Thanhtien] [decimal](10, 2) NULL,
 CONSTRAINT [PK_CTDATHANG] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[SoDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 2/27/2026 12:49:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[SoDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayDH] [datetime] NULL,
	[Trigia] [decimal](10, 2) NULL,
	[Dagiao] [bit] NULL,
	[Ngaygiao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 2/27/2026 12:49:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTenKH] [nvarchar](50) NULL,
	[Diachi] [nvarchar](150) NULL,
	[Dienthoai] [nvarchar](15) NULL,
	[TenDN] [nvarchar](15) NULL,
	[Matkhau] [nvarchar](15) NULL,
	[Ngaysinh] [datetime] NULL,
	[Email] [nvarchar](50) NULL,
	[MaRole] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 2/27/2026 12:49:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNXB] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](100) NULL,
	[Diachi] [nvarchar](150) NULL,
	[Dienthoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanLoai]    Script Date: 2/27/2026 12:49:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2/27/2026 12:49:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[MaRole] [int] IDENTITY(1,1) NOT NULL,
	[TenRole] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 2/27/2026 12:49:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](100) NULL,
	[MaCD] [int] NULL,
	[MaNXB] [int] NULL,
	[Dongia] [decimal](10, 2) NULL,
	[Mota] [nvarchar](max) NULL,
	[AnhBia] [nvarchar](100) NULL,
	[Ngaycapnhat] [datetime] NULL,
	[Soluotxem] [int] NULL,
	[Tags] [nvarchar](max) NULL,
	[Soluongton] [int] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 2/27/2026 12:49:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTG] [int] IDENTITY(1,1) NOT NULL,
	[TenTG] [nvarchar](50) NULL,
	[Diachi] [nvarchar](150) NULL,
	[Dienthoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VietSach]    Script Date: 2/27/2026 12:49:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VietSach](
	[MaTG] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[Vaitro] [nvarchar](100) NULL,
 CONSTRAINT [PK_VIETSACH] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChuDe] ON 

INSERT [dbo].[ChuDe] ([MaCD], [Tenchude], [MaLoai]) VALUES (1, N'Truyện Cổ Tích', 2)
INSERT [dbo].[ChuDe] ([MaCD], [Tenchude], [MaLoai]) VALUES (2, N'Truyện Dân Gian', 2)
INSERT [dbo].[ChuDe] ([MaCD], [Tenchude], [MaLoai]) VALUES (3, N'Truyền Thuyết Đô Thị', 2)
SET IDENTITY_INSERT [dbo].[ChuDe] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([MaBL], [MaSach], [MaKH], [NoiDung], [NgayBL], [DanhGia]) VALUES (1, 112, 2, N'như qq', CAST(N'2026-02-25T21:52:01.397' AS DateTime), 5)
INSERT [dbo].[Comment] ([MaBL], [MaSach], [MaKH], [NoiDung], [NgayBL], [DanhGia]) VALUES (2, 112, 2, N'như qq', CAST(N'2026-02-25T21:52:10.610' AS DateTime), 5)
INSERT [dbo].[Comment] ([MaBL], [MaSach], [MaKH], [NoiDung], [NgayBL], [DanhGia]) VALUES (3, 112, 2, N'như qq', CAST(N'2026-02-25T21:52:21.687' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTenKH], [Diachi], [Dienthoai], [TenDN], [Matkhau], [Ngaysinh], [Email], [MaRole]) VALUES (2, N'Nguyễn Văn Thành', NULL, N'0908256455', N'nvthanh', N'123', CAST(N'2000-01-01T00:00:00.000' AS DateTime), N'lbthanh2000@gmail.com', 1)
INSERT [dbo].[KhachHang] ([MaKH], [HoTenKH], [Diachi], [Dienthoai], [TenDN], [Matkhau], [Ngaysinh], [Email], [MaRole]) VALUES (3, N'nguyên van a', N'', N'123', N'vanmuoi', N'123456', CAST(N'2026-02-27T00:00:00.000' AS DateTime), N'', 2)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaXuatBan] ON 

INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [Diachi], [Dienthoai]) VALUES (1, N'Nhà xuất bản Trẻ', N'161 Lý Chính Thắng - Q3, Tp.HCM', N'08.9316212')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [Diachi], [Dienthoai]) VALUES (2, N'Nhà xuất bản Giáo Dục', N'15 Nguyễn Huệ - Q1, Tp.HCM', N'08.1232345')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [Diachi], [Dienthoai]) VALUES (3, N'Nhà xuất bản Kim đồng', N'55 Quang Trung, Hà Nội', N'04.944730')
SET IDENTITY_INSERT [dbo].[NhaXuatBan] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanLoai] ON 

INSERT [dbo].[PhanLoai] ([MaLoai], [TenLoai]) VALUES (1, N'KTGD (Kiến thức giáo dục)')
INSERT [dbo].[PhanLoai] ([MaLoai], [TenLoai]) VALUES (2, N'TT (Truyện tranh)')
INSERT [dbo].[PhanLoai] ([MaLoai], [TenLoai]) VALUES (3, N'TC (Tạp chí)')
SET IDENTITY_INSERT [dbo].[PhanLoai] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([MaRole], [TenRole]) VALUES (1, N'Người mua')
INSERT [dbo].[Role] ([MaRole], [TenRole]) VALUES (2, N'Người bán')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaCD], [MaNXB], [Dongia], [Mota], [AnhBia], [Ngaycapnhat], [Soluotxem], [Tags], [Soluongton], [TrangThai]) VALUES (2, N'Kỹ năng chăm sóc bé - khi con giận dỗi', 20, 3, CAST(20000.00 AS Decimal(10, 2)), N'Sách là những lời khuyên thiết thực cho những ai mới làm cha mẹ và đang phải đối phó với mọi tình huống rắc rối do trẻ mang lại.', N'khi-con-gian-doi.jpg', CAST(N'2021-09-20T00:00:00.000' AS DateTime), 0, N'#kienthuc, #nghethuat, #sangtao, #chill', 10, 1)
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (getdate()) FOR [NgayBL]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [Soluongton]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChuDe]  WITH CHECK ADD  CONSTRAINT [FK_ChuDe_PhanLoai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[PhanLoai] ([MaLoai])
GO
ALTER TABLE [dbo].[ChuDe] CHECK CONSTRAINT [FK_ChuDe_PhanLoai]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_KhachHang]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Sach]
GO
ALTER TABLE [dbo].[CTDatHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDATHAN_DONHANG] FOREIGN KEY([SoDH])
REFERENCES [dbo].[DonDatHang] ([SoDH])
GO
ALTER TABLE [dbo].[CTDatHang] CHECK CONSTRAINT [FK_CTDATHAN_DONHANG]
GO
ALTER TABLE [dbo].[CTDatHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDATHAN_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[CTDatHang] CHECK CONSTRAINT [FK_CTDATHAN_SACH]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHA_KHACHHAN] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DONDATHA_KHACHHAN]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_Role] FOREIGN KEY([MaRole])
REFERENCES [dbo].[Role] ([MaRole])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_Role]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_SACH_CHUDE] FOREIGN KEY([MaCD])
REFERENCES [dbo].[ChuDe] ([MaCD])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_SACH_CHUDE]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NXB] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NhaXuatBan] ([MaNXB])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_SACH_NXB]
GO
ALTER TABLE [dbo].[VietSach]  WITH CHECK ADD  CONSTRAINT [FK_VIETSACH_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[VietSach] CHECK CONSTRAINT [FK_VIETSACH_SACH]
GO
ALTER TABLE [dbo].[VietSach]  WITH CHECK ADD  CONSTRAINT [FK_VIETSACH_TACGIA] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TacGia] ([MaTG])
GO
ALTER TABLE [dbo].[VietSach] CHECK CONSTRAINT [FK_VIETSACH_TACGIA]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD CHECK  (([DanhGia]>=(1) AND [DanhGia]<=(5)))
GO
