<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<connectionStrings>
		<add name="BookStoreDB"
			 connectionString="Data Source=.;Initial Catalog=BookStoreDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" batch="false">
			<assemblies>
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</assemblies>
		</compilation>
		
		<httpRuntime targetFramework="4.7.2" maxRequestLength="20480" executionTimeout="3600" />
		
		<customErrors mode="Off" />
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>

	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		
		<modules runAllManagedModulesForAllRequests="true" />

		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="20971520" />
			</requestFiltering>
		</security>
	</system.webServer>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

</configuration>